@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using System.Data.SqlClient
@using System.Data
@using System.Configuration
@using System.Text
@using System.Diagnostics;
@using System.Web.UI.HtmlControls;
@using LaborNeedsScheduling.Models
@model DataTable

<head>
    <style>
        .AddButton {
            width: 80px;
            height: 40px;
            display: block;
            vertical-align: middle;
            margin: 0 auto;
            margin-left: 30px;
            background-color: #73ff78; /* Green */
            color: #000000;
            border-color: #53fe59;
            font-size: 16px;
        }
    </style>
</head>
<body>
    @if (Model.Rows.Count == 0)
    {
        <h4>Employee not found.</h4>
    }
    else if (Model.Rows[0][0].ToString() == "1")
    {
        <h4>Employee is already assigned to the current store.</h4>
    }
    else
    {
    <div style="display:table">
        <div style="display:inline-block; float:left">
            <table class="FoundEmployee" id="FoundEmployee" cellpadding="5">
                <thead>
                    <tr>
                        <th style="border: 1px solid black;padding:3px; text-align:center">Name</th>
                        <th style="border: 1px solid black;padding:3px; text-align:center">Id</th>
                        <th style="border: 1px solid black;padding:3px; text-align:center">Store Code</th>
                        <th style="border: 1px solid black;padding:3px; text-align:center">Role</th>
                        <th style="border: 1px solid black;padding:3px; text-align:center">Level</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Rows.Count; i++)
                    {
                    <tr>
                        <td style="border: 1px solid black;padding:3px; text-align:center">@Model.Rows[i][2] <br /> @Model.Rows[i][3]</td>
                        <td style="border: 1px solid black;padding:3px; text-align:center">@Model.Rows[i][1]</td>
                        <td style="border: 1px solid black;padding:3px; text-align:center">@Model.Rows[i][5]</td>
                        <td style="border: 1px solid black;padding:3px; text-align:center">@Model.Rows[i][7]</td>
                        <td style="border: 1px solid black;padding:3px; text-align:center">@Model.Rows[i][6]</td>
                        <td>
                            <div style="display:table-cell; vertical-align:middle; border-right:none;border-left:none;border-bottom:none;border-top:none">
                                <button type="button" value="@Model.Rows[i][1]" onclick="addEmployee(this.value)" class="AddButton">Add</button>
                            </div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

        @*<div style="display:table-cell; vertical-align:middle;">
            <button type="button" onclick="addEmployee()" class="AddButton">Add</button>
        </div>*@

    </div>
    }
</body>