@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using System.Data.SqlClient
@using System.Data
@using System.Configuration
@using System.Text
@using System.Diagnostics;
@using System.Web.UI.HtmlControls;
@using LaborNeedsScheduling.Models
@model ActiveRequests

<head>
    <style>
        table, th, td {
            border-collapse: collapse;
        }

        th,td {
            padding: 15px;
            text-align: center;
        }

        th {
            border: 1px solid black;
        }

                .CancelButton {
            width: 80px;
            height: 40px;
            display: block;
            vertical-align: middle;
            margin: 0 auto;
            margin-left:40px;
            background-color: #ff7373;
            color: #000000;
            border-color: #fe5353;
            font-size: 16px;
        }
    </style>
</head>

<div id="ActiveRequests">
    <body>
        <br />

        <h1>Active Time-Off Requests</h1>

        <br />
        <br />

        @if (Model.TimeOffRequests.Rows.Count == 0)
        {
            <h3>No upcoming employee time off</h3>
        }
        else
        {
            <table style="border-width:1px; border-color:black;">
                <thead>
                    <tr>
                        <th style="text-align: center">ID</th>
                        <th style="text-align: center">Name</th>
                        <th style="text-align: center">Date(s)</th>
                        <th style="text-align: center">Time</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.TimeOffRequests.Rows.Count; i++)
                {
                        <tr>
                            <td>@Model.TimeOffRequests.Rows[i][0]</td>

                            <td>@Model.TimeOffRequests.Rows[i][1]</td>
                            @if (Model.TimeOffRequests.Rows[i][3].ToString() == "")
                    {
                                <td>@Model.TimeOffRequests.Rows[i][2]</td>
                                if (Model.TimeOffRequests.Rows[i][4].ToString() == "--")
                                {
                                    <td>All Day</td>
                                }
                                else
                                {
                                    <td>@Model.TimeOffRequests.Rows[i][4] - @Model.TimeOffRequests.Rows[i][5]</td>
                                }
                            }
                            else
                            {
                                <td>@Model.TimeOffRequests.Rows[i][2] - @Model.TimeOffRequests.Rows[i][3]</td>
                                <td>--</td>
                            }

                            <td><button class="CancelButton" value="@Model.TimeOffRequests.Rows[i][6]" onclick="CancelRequest(this.value)">Cancel</button></td>

                        </tr>
                    }
                </tbody>
            </table>
        }
        <br />
        <br />
        <br />
    </body>
</div>


@section scripts{

<script type="text/javascript">
    $(function () {
        // Disable browser cache Ajax.ActionLinks
        $.ajaxSetup({ cache: false });
    });
</script>

<script>
    function CancelRequest(ID) {

        $.post('/Home/ActiveTimeOffRequests',
                {
                    MessageID: ID
                },
                function (data) {
                    $('#ActiveRequests').html(data);
                }
                );
        }
</script>
}