@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using System.Data.SqlClient
@using System.Data
@using System.Configuration
@using System.Text
@using System.Diagnostics;
@using System.Web.UI.HtmlControls;
@using LaborNeedsScheduling.Models
@model LaborScheduling


<head>

    <style>
        div.EmployeeScheduler {
            margin-left: auto;
            margin-right: auto;
            display: inline;
            vertical-align: middle;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            cursor: default;
            -khtml-user-select: none;
            cursor: default;
            -moz-user-select: none;
            cursor: default;
            -ms-user-select: none;
            cursor: default;
            user-select: none;
            cursor: default;
        }

        div.Employees {
            display: inline-block;
            float: left;
            width: 55%;
        }

        div.ErrorMessages {
            display: inline-block;
            border: 1px solid #cf3939;
            background-color: #ffe5e5;
            padding: 10px;
            word-wrap: normal;
            float: left;
            width: 100%;
        }

        div.EmployeesAndErrors {
            width: 100%;
            display: inline-block;
            float: left;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            cursor: default;
            -khtml-user-select: none;
            cursor: default;
            -moz-user-select: none;
            cursor: default;
            -ms-user-select: none;
            cursor: default;
            user-select: none;
            cursor: default;
        }

        div.ErrorBox {
            width: 40%;
            margin-left: 5%;
            float: left;
            word-wrap: normal;
            display: inline-block;
        }

        table.EmployeeList {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            table-layout: fixed;
            word-break: break-all;
            empty-cells: show;
            /*margin-left: auto;
            margin-right: auto;*/
        }

        td.EmployeeCell {
            text-align: center;
            vertical-align: middle;
            border: 1px solid #000000;
            height: 20px;
            background-color: #ffffff;
            white-space: nowrap;
            padding-left: 30px;
            padding-right: 30px;
        }

        td.EmployeeCellSelected {
            text-align: center;
            vertical-align: middle;
            border: 1px solid #000000;
            height: 20px;
            background-color: #66ff89;
            white-space: nowrap;
            padding-left: 30px;
            padding-right: 30px;
        }
    </style>



</head>


<body>

    <div id="AssignmentTablePartial">
        <div>
            <div class="AssignmentViewContainer">
                <table class="AssignmentView" id="AssignmentView" border="1" cellpadding="5">
                    <thead>
                        <tr>
                            @for (int i = 0; i < Model.ThisWeek.AssignmentView.Columns.Count; i++)
                            {
                                string[] ScheduleHourSlots = {"6AM-7AM", "7AM-8AM","8AM-9AM","9AM-10AM","10AM-11AM","11AM-12PM","12PM-1PM", "1PM-2PM", "2PM-3PM",
                                                      "3PM-4PM","4PM-5PM", "5PM-6PM", "6PM-7PM", "7PM-8PM", "8PM-9PM", "9PM-10PM", "10PM-11PM", "11PM-12AM", "12AM-1AM"};

                                string[] replaceRows = {"6AM", "7AM","8AM","9AM","10AM","11AM","12PM", "1PM", "2PM", "3PM",
                                                "4PM", "5PM", "6PM", "7PM", "8PM", "9PM", "10PM", "11PM", "12AM", "1AM"};

                                string[] ScheduleHalfHourSlots = { "6:00AM", "6:30AM", "7:00AM", "7:30AM","8:00AM", "8:30AM","9:00AM", "9:30AM","10:00AM", "10:30AM",
                                                  "11:00AM", "11:30AM","12:00PM","12:30PM", "1:00PM", "1:30PM", "2:00PM", "2:30PM", "3:00PM", "3:30PM",
                                                  "4:00PM", "4:30PM", "5:00PM", "5:30PM", "6:00PM", "6:30PM", "7:00PM", "7:30PM", "8:00PM", "8:30PM",
                                                  "9:00PM", "9:30PM", "10:00PM", "10:30PM", "11:00PM", "11:30PM", "12:00AM"};

                                DataColumn c = Model.ThisWeek.AssignmentView.Columns[i];
                                if (Model.ThisWeek.BlackoutAssignmentView.Rows.Count > 0)
                                {
                                    if (Model.ThisWeek.BlackoutAssignmentView.Rows[0][i].ToString() != "True")
                                    {
                                        <th class="AssignmentCell">@c.Caption</th>
                                    }
                                }
                                else
                                {
                                    <th class="AssignmentCell">@c.Caption</th>
                                }

                            }
                            <th class="AssignmentCell">Total</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{double totalhours = 0; }
                        @for (int n = 0; n < Model.ThisWeek.AssignmentView.Rows.Count; n++)
                        {
                            int columnCount = 0;
                            double houramount = 0;
                            <tr>
                                @for (int h = 0; h < Model.ThisWeek.AssignmentView.Columns.Count; h++)
                                {
                                    if (Model.ThisWeek.AssignmentView.Rows[n][h].ToString() != "")
                                    {
                                        if (Model.ThisWeek.BlackoutAssignmentView.Rows.Count > 0)
                                        {
                                            string columnValue = Model.ThisWeek.AssignmentView.Columns[h].ToString();

                                            if (Convert.ToString(Model.ThisWeek.BlackoutAssignmentView.Rows[n][h]) == "True")
                                            {
                                                @*<td class="BlackoutCell" id="AssignmentCell" onclick="getHour(@columnCount)"></td>*@
                                    columnCount++;
                                }
                                else
                                {
                                    if (Convert.ToInt32(n) == 1 && h > 0 && Convert.ToInt32(Model.ThisWeek.AssignmentView.Rows[n][h]) == 0)
                                    {
                                        <td class="AssignmentCellFilled" id="AssignmentCell" onclick="getHour(@columnCount)">@Model.ThisWeek.AssignmentView.Rows[n][h]</td>
                                                    columnCount++;
                                                }

                                                else if (Convert.ToInt32(n) == 1 && h > 0 && Convert.ToInt32(Model.ThisWeek.AssignmentView.Rows[n][h]) < 0)
                                                {
                                                    <td class="AssignmentCellOver" id="AssignmentCell" onclick="getHour(@columnCount)">@Model.ThisWeek.AssignmentView.Rows[n][h]</td>
                                                    columnCount++;
                                                    houramount += Convert.ToDouble(Model.ThisWeek.AssignmentView.Rows[n][h]);
                                                }

                                                else
                                                {
                                                    <td class="AssignmentCell" id="AssignmentCell" onclick="getHour(@columnCount)">@Model.ThisWeek.AssignmentView.Rows[n][h]</td>
                                                    columnCount++;
                                                    if (Model.ThisWeek.AssignmentView.Rows[n][h].ToString() != "" && h > 0)
                                                    {
                                                        houramount += Convert.ToDouble(Model.ThisWeek.AssignmentView.Rows[n][h]);
                                                    }
                                                }
                                            }
                                        }
                                        else
                                        {
                                            if (Convert.ToInt32(n) == 1 && h > 0 && Convert.ToInt32(Model.ThisWeek.AssignmentView.Rows[n][h]) == 0)
                                            {
                                                <td class="AssignmentCellFilled" id="AssignmentCell" onclick="getHour(@columnCount)">@Model.ThisWeek.AssignmentView.Rows[n][h]</td>
                                                columnCount++;
                                                houramount += Convert.ToDouble(Model.ThisWeek.AssignmentView.Rows[n][h]);
                                            }

                                            else if (Convert.ToInt32(n) == 1 && h > 0 && Convert.ToInt32(Model.ThisWeek.AssignmentView.Rows[n][h]) < 0)
                                            {
                                                <td class="AssignmentCellOver" id="AssignmentCell" onclick="getHour(@columnCount)">@Model.ThisWeek.AssignmentView.Rows[n][h]</td>
                                                columnCount++;
                                                houramount += Convert.ToDouble(Model.ThisWeek.AssignmentView.Rows[n][h]);
                                            }

                                            else
                                            {
                                                int j;
                                                bool isNumeric = int.TryParse(Model.ThisWeek.AssignmentView.Rows[n][h].ToString(), out j);
                                                if (isNumeric == false)
                                                {
                                                    <td class="AssignmentCell" id="AssignmentCell">@Model.ThisWeek.AssignmentView.Rows[n][h]</td>
                                                }
                                                else
                                                {
                                                    <td class="AssignmentCell" id="AssignmentCell" onclick="getHour(@columnCount)">@Model.ThisWeek.AssignmentView.Rows[n][h]</td>
                                                }
                                                columnCount++;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (Model.ThisWeek.BlackoutAssignmentView.Rows.Count > 0 && Convert.ToString(Model.ThisWeek.BlackoutAssignmentView.Rows[n][h]) == "True")
                                        {
                                            @*<td class="BlackoutCell" id="AssignmentCell" onclick="getHour(@columnCount)"></td>*@
                                    columnCount++;
                                }
                                else
                                {
                                    <td class="AssignmentCell" id="AssignmentCell" onclick="getHour(@columnCount)">0</td>
                                            columnCount++;
                                        }
                                    }
                                }
                                @if (n == 0)
                                {
                                    totalhours = houramount / 2;
                                    <td class="AssignmentCell">@totalhours</td>
                                }
                                @if (n == 1)
                                {
                                    double hoursassigned = 0;
                                    foreach (Employees emp in Model.ThisWeek.employeeListStore)
                                    {
                                        for (int m = 0; m < Model.ThisWeek.AssignedEmployeesRequestedWeek.Rows.Count; m++)
                                        {
                                            if (emp.id == Model.ThisWeek.AssignedEmployeesRequestedWeek.Rows[m][1].ToString()
                                                && Model.ThisWeek.RequestedDates[Model.ThisWeek.selectedWeekday] ==
                                                Convert.ToDateTime(Model.ThisWeek.AssignedEmployeesRequestedWeek.Rows[m][3]))
                                            {
                                                string starttime = Model.ThisWeek.AssignedEmployeesRequestedWeek.Rows[m][4].ToString();
                                                string endtime = Model.ThisWeek.AssignedEmployeesRequestedWeek.Rows[m][5].ToString();

                                                for (int j = 0; j < Model.ThisWeek.SQLHours.Length; j++)
                                                {
                                                    if (starttime == Model.ThisWeek.SQLHours[j])
                                                    {
                                                        starttime = Model.ThisWeek.ScheduleHalfHourSlots[j];
                                                    }
                                                    if (endtime == Model.ThisWeek.SQLHours[j])
                                                    {
                                                        endtime = Model.ThisWeek.ScheduleHalfHourSlots[j];
                                                    }
                                                }

                                                bool block = false;
                                                for (int j = 0; j < Model.ThisWeek.ScheduleHalfHourSlots.Length; j++)
                                                {
                                                    if (Model.ThisWeek.ScheduleHalfHourSlots[j] == starttime)
                                                    {
                                                        block = true;
                                                    }
                                                    if (Model.ThisWeek.ScheduleHalfHourSlots[j] == endtime)
                                                    {
                                                        block = false;
                                                    }
                                                    if (block == true)
                                                    {
                                                        hoursassigned++;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    totalhours = totalhours - (hoursassigned / 2);
                                    <td class="AssignmentCell">@totalhours</td>
                                }
                            </tr>
                        }



                        @{ int colorcount = 0;}
                        @{ string[] colors = { "#bce0ff", "#ffbcc0", "#bcffc4", "#bccaff", "#f8ffbc", "#ffbcbc", "#bcffdc" }; }
                        @foreach (Employees emp in Model.ThisWeek.employeeListStore)
                        {
                            for (int i = 0; i < Model.ThisWeek.AssignedEmployeesRequestedWeek.Rows.Count; i++)
                            {
                                if (emp.id == Model.ThisWeek.AssignedEmployeesRequestedWeek.Rows[i][1].ToString()
                                    && Model.ThisWeek.RequestedDates[Model.ThisWeek.selectedWeekday] ==
                                    Convert.ToDateTime(Model.ThisWeek.AssignedEmployeesRequestedWeek.Rows[i][3]))
                                {
                                    <tr>
                                        @{string starttime = Model.ThisWeek.AssignedEmployeesRequestedWeek.Rows[i][4].ToString();}
                                        @{string endtime = Model.ThisWeek.AssignedEmployeesRequestedWeek.Rows[i][5].ToString();}

                                        @for (int n = 0; n < Model.ThisWeek.SQLHours.Length; n++)
                                        {
                                            if (starttime == Model.ThisWeek.SQLHours[n])
                                            {
                                                starttime = Model.ThisWeek.ScheduleHalfHourSlots[n];
                                            }
                                            if (endtime == Model.ThisWeek.SQLHours[n])
                                            {
                                                endtime = Model.ThisWeek.ScheduleHalfHourSlots[n];
                                            }
                                        }
                                        @{ bool block = false;}
                                        @for (int n = 0; n < Model.ThisWeek.AssignmentView.Columns.Count; n++)
                                        {
                                            if (starttime == Model.ThisWeek.AssignmentView.Columns[n].Caption)
                                            {
                                                block = true;
                                                @*<td style="font-size:10px; background-color:#d1b4ff; border-color:#d1b4ff">@emp.firstName</td>*@
                                            }
                                            if (endtime == Model.ThisWeek.AssignmentView.Columns[n].Caption)
                                            {
                                                block = false;
                                            }
                                            if (block == true)
                                            {
                                                if (starttime == Model.ThisWeek.AssignmentView.Columns[n].Caption)
                                                {
                                                    <td style="border-top:0px none; background-color:@colors[colorcount]; border-color:@colors[colorcount];">@emp.firstName</td>
                                                }
                                                else
                                                {
                                                    <td style="background-color:@colors[colorcount]; border-color:@colors[colorcount]"></td>
                                                }

                                            }
                                            else
                                            {
                                                <td style="border-top:0px none; border-bottom:0px none;"></td>
                                            }

                                        }

                                    </tr>
                                                        colorcount += 1;
                                                    }
                                                }
                                            }






                    </tbody>





                </table>
            </div>
            <div id="HourAvailability"></div>
        </div>

        <br />
        <br />

        <div class="EmployeeScheduler" align="center" style="display: inline">
            @*@using (Html.BeginForm("LaborSchedule", "Home", FormMethod.Post))
                {*@
            <div>
                @if (Model.selectedEmployeeName == null)
                {
                    <b style="display:inline-block" id="employeeName">[select an employee]</b>
                }
                else
                {
                    <b style="display:inline-block" id="employeeName">Schedule @Model.selectedEmployeeName</b>
                }
                <br />

                <div class="EmployeeScheduler">
                    Start:
                    @Html.DropDownListFor(m => m.ThisWeek.startHour, new SelectList(Model.ThisWeek.ScheduleStartHours, "Value", "Key"), new { id = "startHour" })
                </div>

                @*<div class="EmployeeScheduler" style="padding-left: 20px">
                        End:
                        @Html.DropDownListFor(m => m.ThisWeek.endHour, new SelectList(Model.ThisWeek.ScheduleEndHours, "Value", "Key"), new { id = "endHour" })
                    </div>*@

                <div class="EmployeeScheduler" style="padding-left: 20px">
                    <button type="button" onclick="updateAssignmentView(value)" id="AssignSubmit" value="0">Assign</button><br>
                </div>
            </div>

            @*}*@
        </div>

        <div class="EmployeesAndErrors">
            @*<div>*@
            <div>
                <div class="Employees" style="height: 600px;">
                    <div style="text-align:left"><label>Employee List</label></div>
                    <table class="EmployeeList" id="EmployeeList" border="1" cellpadding="5">
                        @if (Model.ThisWeek.AssignmentView.Columns.Count > 0)
                        {
                            <thead>
                                <tr>
                                    <th class="LaborCell">Id</th>
                                    <th class="LaborCell">Name</th>
                                    <th class="LaborCell">Role</th>
                                    <th class="LaborCell">Level</th>
                                    <th class="LaborCell">Hours</th>
                                    <th class="LaborCell">Remaining</th>
                                </tr>
                            </thead>

                            string[] employeeIds = new string[LaborScheduling.EmployeeListStore.Count];

                            for (int i = 0; i < LaborScheduling.EmployeeListStore.Count; i++)
                            {
                                employeeIds[i] = LaborScheduling.EmployeeListStore[i].id;
                            }

                            <tbody>
                                @foreach (Employees emp in LaborScheduling.EmployeeListStore)
                                {
                                    <tr>
                                        @if (emp.id == Model.selectedEmployeeId)
                                        {
                                            <td class="EmployeeCellSelected" onclick="getEmployee(@emp.id)">@emp.id</td>
                                            <td class="EmployeeCellSelected" onclick="getEmployee(@emp.id)">@emp.firstName</td>
                                            <td class="EmployeeCellSelected" onclick="getEmployee(@emp.id)">@emp.role</td>
                                            <td class="EmployeeCellSelected" onclick="getEmployee(@emp.id)">@emp.rank</td>
                                            <td class="EmployeeCellSelected" onclick="getEmployee(@emp.id)">@emp.hours</td>
                                            <td class="EmployeeCellSelected" onclick="getEmployee(@emp.id)">@emp.hoursRemaining</td>
                                        }
                                        else
                                        {
                                            <td class="EmployeeCell" onclick="getEmployee(@emp.id)">@emp.id</td>
                                            <td class="EmployeeCell" onclick="getEmployee(@emp.id)">@emp.firstName</td>
                                            <td class="EmployeeCell" onclick="getEmployee(@emp.id)">@emp.role</td>
                                            <td class="EmployeeCell" onclick="getEmployee(@emp.id)">@emp.rank</td>
                                            <td class="EmployeeCell" onclick="getEmployee(@emp.id)">@emp.hours</td>
                                            <td class="EmployeeCell" onclick="getEmployee(@emp.id)">@emp.hoursRemaining</td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>

                </div>

                <br />

                <div class="ErrorBox">
                    <div style="padding-top:5px;">
                        <div class="ErrorMessages">
                            @for (int i = 0; i < Model.ThisWeek.ErrorMessages.Count; i++)
                            {
                                <div>
                                    <label>@Model.ThisWeek.ErrorMessages[i]</label>
                                </div>
                            }
                        </div>
                    </div>
                    <div style="padding-top:10px; display: inline-block;">
                        <div id="EmployeeAvailabilityTimes"></div>
                    </div>
                </div>

            </div>
        </div>

        <br />
        <br />
        <br />
        <br />
        <br />


        @Html.HiddenFor(m => Model.ThisWeek.selectedEmployeeId, new { id = "hiddenEmployeeId" })
        @Html.HiddenFor(m => Model.ThisWeek.selectedEmployee, new { id = "hiddenEmployeeName" })
        @Html.HiddenFor(m => Model.AssignStartTime, new { id = "hiddenAssignStartTime" })
        @Html.HiddenFor(m => Model.AssignEndTime, new { id = "hiddenAssignEndTime" })

        @*}*@
    </div>
    @Html.HiddenFor(m => m.ThisWeek.excludedDates, new { id = "hiddenExludedDates" })

    <br />
    <br />

    @*<div id="WeekSchedule">
            <h4 style="text-align: center;"><b>Schedule for @Model.ThisWeek.RequestedDates[0].ToShortDateString() - @Model.ThisWeek.RequestedDates[6].ToShortDateString()</b></h4>
            <div class="white-body">
                <table border="1" cellpadding="5" id="weekhours" class="Schedule">
                    <thead>
                        <tr>
                            <th>Time</th>
                            @for (int i = 0; i < 1; i++)
                            {
                                <th class="ScheduleCell">
                                    @Model.ThisWeek.RequestedDates[Model.ThisWeek.selectedWeekday].DayOfWeek
                                    <br />
                                    @Model.ThisWeek.RequestedDates[Model.ThisWeek.selectedWeekday].ToShortDateString()
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.ThisWeek.ScheduleHalfHourSlots.Length; i++)
                        {
                            <tr>
                                <td class="ScheduleCell">@Model.ThisWeek.ScheduleHalfHourSlots[i]</td>

                                @for (int n = 0; n < 1; n++)
                                {
                                    <td class="ScheduleCell">
                                        @for (int m = 0; m < Model.ThisWeek.AssignedEmployeesCurrentWeek.Rows.Count; m++)
                                        {
                                            DateTime DateTime = Convert.ToDateTime(Model.ThisWeek.AssignedEmployeesCurrentWeek.Rows[m][3]);
                                            string Date = DateTime.ToShortDateString();
                                            string startTime = Model.ThisWeek.AssignedEmployeesCurrentWeek.Rows[m][4].ToString();
                                            string endTime = Model.ThisWeek.AssignedEmployeesCurrentWeek.Rows[m][5].ToString();
                                            List<string> assignedHours = new List<string>();
                                            bool block = false;

                                            for (int j = 0; j < Model.ThisWeek.ScheduleHalfHourSlots.Length; j++)
                                            {
                                                if (Model.SQLHours[j] == startTime)
                                                {
                                                    block = true;
                                                }
                                                if (block == true)
                                                {
                                                    assignedHours.Add(Model.ThisWeek.ScheduleHalfHourSlots[j]);
                                                }
                                                if (Model.SQLHours[j] == endTime)
                                                {
                                                    block = false;
                                                    break;
                                                }
                                            }

                                            bool add = false;
                                            for (int j = 0; j < assignedHours.Count; j++)
                                            {
                                                if (Model.ThisWeek.ScheduleHalfHourSlots[i] == assignedHours[j])
                                                {
                                                    add = true;
                                                    break;
                                                }
                                            }

                                            if (Date == Model.ThisWeek.RequestedDates[Model.ThisWeek.selectedWeekday].ToShortDateString() && add == true) //&& the time matches one of the employee's hour blocks)
                                            {
                                                string employeeId = Model.ThisWeek.AssignedEmployeesCurrentWeek.Rows[m][1].ToString();
                                                string employeeName = "";
                                                foreach (Employees emp in Model.ThisWeek.employeeListStore)
                                                {
                                                    if (emp.id == employeeId)
                                                    {
                                                        employeeName = emp.firstName + " " + emp.lastName;
                                                    }
                                                }
                                                @employeeName <br />
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>*@

    <br />
    <br />

</body>


@section scripts
{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        var table = document.getElementById("AssignmentTablePartial");
        if (table != null) {
            for (var i = 0, cell; cell = table.cells[i]; i++) {
                if (table[i][j] === 0) {
                    selectedEmployeeCells[i].classList.add('AssignmentCellFilled')
                }
            }
        }
    </script>

    <script>
        var table = document.getElementById("ExcludedDates");
        var list;
        if (table != null) {
            for (var i = 0; n = table.rows.length; i++) {
                for (var c = 0, m = table.rows[i].cells.length; c < m; c++) {
                    if (table.rows[i].cells[c].className === "ExcludedTrue") {
                        list.push(table.rows[i].cells[c].innerHTML);
                    }

                    //alert(table.rows[i].cells[c].innerHTML);

                    //change the cell class on click
                    //if cell class = clicked
                    //add string to hidden list

                    //in code compare the list to the dates and if true do not include it
                }
            }
            document.getElementById("hiddenExcludedDates").value = selectedEmployeeName;
        }
    </script>

    <script>
        var table = document.getElementById("LaborSchedule");
        if (table != null) {
            for (var i = 1; i < table.rows.length; i++) {
                for (var j = 1; j < table.rows[i].cells.length; j++)
                    table.rows[i].cells[j].onclick = function () {
                        var col = $(this).prevAll().length;
                        var row = $(this).parent('tr').prevAll().length;
                        showPartial(row, col);
                    };
            }
        }

        function tableText(value, row, col) {
            alert(value.innerHTML + row + col);
        }

        function openHour(tableCell) {

        }

        function showPartial(row, col) {
            document.getElementById("partial").style.display = "block";
        }
    </script>

    <script>
        function showPartial(column) {
            document.getElementById("partial").style.display = "block";
        }
    </script>

}