@using System
@using System.Collections.Generic
@using System.Linq
@using System.Web
@using System.Web.Mvc
@using System.Data.SqlClient
@using System.Data
@using System.Configuration
@using System.Text
@using System.Diagnostics;
@using System.Web.UI.HtmlControls;
@using LaborNeedsScheduling.Models
@model EmployeeModel


@{
    ViewBag.Title = "Employee";
}

<head>

    @*lightbox*@
    <style>
        .black_overlay {
            display: none;
            position: fixed;
            top: 0%;
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            z-index: 1001;
            -moz-opacity: 0.8;
            opacity: .80;
            filter: alpha(opacity=80);
        }

        .white_content {
            position: fixed;
            top: 10%;
            left: 25%;
            z-index: 1050;
            width: 80%;
            height: 80%;
            margin-left: -280px;
            background-color: #ffffff;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 20px;
            border: 2px solid #FFFFFF;
            background-color: #FFFFFF;
            -webkit-box-shadow: #000000 8px 8px 8px;
            -moz-box-shadow: #000000 8px 8px 8px;
            box-shadow: #000000 8px 8px 8px;
            display: none;
        }

        .white-header {
            padding: 9px 15px;
            border-bottom: 1px solid #eee;
            height: 30px;
        }

        .modal-header .close {
            margin-top: 2px;
        }

        a.close {
            padding: 0;
            cursor: pointer;
            border: 0;
            -webkit-appearance: none;
        }

        .close {
            float: right;
            font-size: 20px;
            font-weight: bold;
            line-height: 20px;
        }

        .white-body {
            position: relative;
            max-height: 850px;
            padding: 15px;
            overflow-y: auto;
            display: block;
        }
    </style>

    @*messages*@
    <style>
        .approved {
            padding: 20px;
            background-color: #8fff9a;
            color: black;
        }

        .denied {
            padding: 20px;
            background-color: #ff6868;
            color: black;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }
    </style>

    <style>
        div {
        }

        .inline {
            display: inline-block;
            margin-right: 15px;
        }
    </style>

    @*table*@
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 1100px;
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            table-layout: fixed;
            word-break: break-all;
            /*margin-left: auto;
        margin-right: auto;*/
        }

        td, th {
            border: 1px solid #dddddd;
            padding: 8px;
            text-align: center;
            vertical-align: middle;
            border: 1px solid #000000;
        }

            td.highlight:hover {
                background-color: white;
            }

            td:first-child {
                font-weight: bold;
                text-align: left;
            }

            td.hourCell {
                font-size: 11px;
            }

        .container {
            /*position: fixed;*/
            /*padding-left: 150px;*/
            align-content: center;
            margin: 0;
        }

        .left-element {
            display: inline;
            float: left;
        }

        .right-element {
            display: inline;
            float: right;
            padding-right: 50px;
        }

        body {
            padding-left: 200px;
            padding-top: 70px;
        }

        .testing-left {
            display: inline;
            float: left;
            padding: 5px;
            border-style: solid;
            border-width: 1px;
            text-align: center;
            font-size: 70%;
        }

        td:first-child {
            background-color: white;
        }
    </style>

    @*<style>
            .true {
                background: #51ff62;
            }

            .false {
                background: #ff5555;
            }
        </style>*@
</head>

<body>

    <br />
    <br />

    @*<p><button onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">Messages</button></p>*@

    @*<div id="light" class="white_content">*@
    @*<div class="white-header">
            <a class="close" href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">x</a>
        </div>*@

    <div class="white-body">
        @foreach (EmployeeNotification e in Model.EmployeeNotifications)
        {
            if (e.accepted == true)
            {
                <div class="approved">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    @e.message
                </div>
            }
            else if (e.accepted == false)
            {
                <div class="denied">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    @e.message
                </div>
            }
        }
    </div>
    @*</div>*@
    <div id="fade" class="black_overlay"></div>

    <br />
    <hr />
    <br />

    @*display lightbox for employee schedule table*@

    <div class="white-body">
        <table border="1" cellpadding="5" id="weekhours" class="weekhours">
            <thead>
                <tr>
                    @foreach (DataColumn col in EmployeeModel.EmployeeSchedule.Columns)
                    {
                        <th id="scheduleCell" class="scheduleCell">@col.Caption</th>
                    }
                </tr>
            </thead>
            <tbody>

                @for (int n = 0; n < EmployeeModel.EmployeeSchedule.Rows.Count; n++)
                {
                    <tr>
                        @for (int h = 0; h < EmployeeModel.EmployeeSchedule.Columns.Count; h++)
                        {

                            if (EmployeeModel.EmployeeSchedule.Rows[n][h].ToString() == "True")
                            {
                                <td id="scheduleCell" class="scheduleCell">♦</td>
                            }
                            else if (EmployeeModel.EmployeeSchedule.Rows[n][h].ToString() == "False")
                            {
                                <td id="scheduleCell" class="scheduleCell"></td>
                            }
                            else
                            {

                                string[] ScheduleHourSlots = { "6AM-7AM", "7AM-8AM","8AM-9AM","9AM-10AM","10AM-11AM","11AM-12PM","12PM-1PM", "1PM-2PM", "2PM-3PM",
                                                           "3PM-4PM","4PM-5PM", "5PM-6PM", "6PM-7PM", "7PM-8PM", "8PM-9PM", "9PM-10PM", "10PM-11PM", "11PM-12AM", "12AM-1AM"};

                                string[] replaceRows = {"6:00AM", "7:00AM","8:00AM","9:00AM","10:00AM","11:00AM","12:00PM", "1:00PM", "2:00PM", "3:00PM",
                                                    "4:00PM", "5:00PM", "6:00PM", "7:00PM", "8:00PM", "9:00PM", "10:00PM", "11:00PM", "12:00AM", "1:00AM"};

                                for (int i = 0; i < ScheduleHourSlots.Length; i++)
                                {
                                    if (EmployeeModel.EmployeeSchedule.Rows[n][h].ToString() == ScheduleHourSlots[i])
                                    {
                                        <td id="hourCell" class="hourCell">
                                            @replaceRows[i]
                                            -
                                            <br />
                                            @replaceRows[i + 1]
                                        </td>
                                    }
                                }
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <br />
    <br />

    <hr />

    <br />

    <h3>Submit Time Off Request:</h3>

    <br />
    <br />

    @using (Html.BeginForm("EmployeeHome", "Home", FormMethod.Post))
    {
        <div class="inline">
            <select id="dropdown">
                @for (int i = 1; i < 15; i++)
                {
                    string day = DateTime.Now.AddDays(i).ToString("M/d/yyyy");
                    <option>@day</option>
                }
            </select>
        </div>

        <div class="inline">
            <label>Start: </label>
            @*@Html.TextBoxFor(m => m.ListOfEmployees.)*@
            <input type="text">
        </div>

        <div class="inline">
            <label>End: </label>
            @*@Html.TextBoxFor(m => EmployeeTimeOffRequest.EndHourID)*@
            @*@Html.DropDownListFor(m => EmployeeTimeOffRequest.EndHourID, new SelectList(EmployeeModel.ScheduleHours))*@
        </div>

        <div class="inline">
            @*@Html.CheckBoxFor(m => EmployeeTimeOffRequest.IsAllDay)*@
            <input type="checkbox">
            <label>All day </label>
        </div>

        <div class="inline">
            <label></label>
        </div>

        <div class="inline">
            <label></label>
        </div>

        <div class="inline">
            <label></label>
        </div>

        //if (Model.ThisWeek.AllDay == true)
        //{
        //    Model.ThisWeek.StartTimeOff = "12AM";
        //    Model.ThisWeek.EndTimeOff = "12PM";
        //}

        <div class="inline">
            <button type="submit">Submit</button><br>
        </div>
    }
    <br />
    <br />

    @*<script>
            var cells = document.querySelectorAll("td");

            for (var i = 0; i < cells.length; i++) {
                cells[i].addEventListener("click", function () {
                    this.className = this.className == "false" ? "true" : "false";
                });
            }
        </script>*@

    <script>
        var cells = document.querySelectorAll("td");

        for (var i = 0; i < cells.length; i++) {

            $('.scheduleCell:contains("♦")').css('background-color', '#8fff9a');
            $('.scheduleCell:contains("False")').css('background-color', '#ff5555');


            cells[i].addEventListener("click", function () {
                //this.className = this.className == "NotAvailable" ? "Available" : "NotAvailable";

                $(this.className).toggleClass('change_me Available');
            });
        }
    </script>

    <script>
        var str = document.getElementById("scheduleCell").innerHTML;
        var res = str.replace("#", "Environment.NewLine");
        document.getElementById("scheduleCell").innerHTML = res;
    </script>

    <script>
        $(function change_cell_content() {
            $("td").on("click", function () {

                var cell_id_ref = $(this).attr('cellID');
                var $table = $(this).closest('table');
                var newValue;

                var currentValue = $(this).html();

                var changeValue = prompt("Enter a new value. (Current " + currentValue + ")");
                if (changeValue !== null) {
                    $table.find('[cellID="' + cell_id_ref + '"]').text(changeValue);
                }
            });
        });
    </script>

</body>